@model DOTNET_PROJECT.Viewmodels.LogInViewModel
<!-- TODO : Legg til css. -->
@{
    Layout = null;
}

<!DOCTYPE html> 

    <html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewPort" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>

    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <div class="Background-login">
        <div class="login-box">
            <form asp-controller="Auth" asp-action="Login" method="post">     
                <input asp-for="Username"
                    class="input-login" 
                    type="text" 
                    placeholder="Username" 
                />
            <br>
                 <input asp-for="Password"
                    class ="input-login" 
                    type="password" 
                    placeholder="Password" 
                />           
             <br>
                 <button
                    class = "button-login" 
                    type = "submit" 
                    value = "submit"
                    >Log in
                    </button>
            </form>
        </div>
    </div >
</body>
</html>