@model DOTNET_PROJECT.Viewmodels.LogInViewModel
<!-- TODO : Legg til css. -->
@{
    Layout = null;
}

<!DOCTYPE html> 

    <html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewPort" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>

        <link rel="stylesheet" href="~/css/LogInPage.css" />
       <!-- <script src="~/js/jquery.validate.js "></script>
        <script src="~/js/jquery.validate.unobtrusive.js"></script> -->
<!-- TODO : FIks input validering -->
</head>
<body>
    <div class="Background-login">
        <div class="login-box">
            <a asp-controller="Auth" asp-action="UpdatePassword" class="Secondary-Button">Update password</a>
            <br/>
            <form asp-controller="Auth" asp-action="Login" method="post">
                <span asp-validation-for="Username" class="Error-text"></span>
                <br>
                <input asp-for="Username"
                       class="input-login"
                       type="text"
                       placeholder="Username"/>
                <br/>
                <span asp-validation-for="Password" class="Error-text"></span>
                <br>
                <input asp-for="Password"
                       class="input-login"
                       type="password"
                       placeholder="Password"/>
                <br/>
                <button
                    class="Primary-Button"
                    type="submit"
                    value="submit">Log in
                </button>
            </form>
            <br/>
            <a asp-controller="Auth" asp-action="Register" class="Secondary-Button">Registrer</a>

        </div>
    </div >
</body>
</html>