@model DOTNET_PROJECT.Viewmodels.LogInViewModel
<!-- TODO : Legg til css. -->
@{
    Layout = null;
}

<!DOCTYPE html> 

    <html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewPort" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>

    <link rel="stylesheet" href="~/css/LogInPage.css" />
<!-- TODO : FIks input validering -->
</head>
<body>
    <div class="Background-login">
        <div class="login-box">
            <form asp-controller="Auth" asp-action="Register" method="post">     
                <input asp-for="Username"
                       class="input-login" 
                       type="text" 
                       placeholder="Username" 
                />
                <span asp-validation-for="Username" class="Error-text"></span>
                <br>
                <input asp-for="Password"
                       class ="input-login" 
                       type="password" 
                       placeholder="Password" 
                />
                <span asp-validation-for="Password" class="Error-text"></span>
                <br>
                <button
                    class = "button-login" 
                    type = "submit" 
                    value = "submit"
                >Registrer
                </button>
            </form>
                
        </div>
    </div >
</body>
</html>