@model DOTNET_PROJECT.Viewmodels.UpdatePasswordViewModel
<!-- TODO : Legg til css. -->
@{
    Layout = null;
}

<!DOCTYPE html> 

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewPort" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>

    <link rel="stylesheet" href="~/css/LogInPage.css" />
    <!-- TODO : FIks input validering -->
</head>
<body>
<div class="Background-login">
    <div class="login-box">
        <a asp-controller="Auth" asp-action="Login" class="Secondary-Button">Back to loginpage</a>
        <br/>
        <form asp-controller="Auth" asp-action="UpdatePassword" method="post">
            <span asp-validation-for="Username" class="Error-text"></span>
            <br/>
            <input asp-for="Username"
                   class="input-login"
                   type="text"
                   placeholder="Username"/>

            <br>
            <span asp-validation-for="Password" class="Error-text"></span>
            <br/>
            <input asp-for="Password"
                   class="input-login"
                   type="password"
                   placeholder="Password"/>
            <br/>
            <button
                class="Primary-Button"
                type="submit"
                value="submit">Update account
            </button>
        </form>

    </div>
</div >
</body>
</html>