@* 
    
*@


@{
    Layout = null;
}



<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>Home page</title>

    <link rel="stylesheet" href="~/css/HomePage.css"/>

</head>
<body>
@if (TempData["Error"] != null)
{
    <div class="alert error">@TempData["Error"]</div>
}
@if (TempData["Success"] != null)
{
    <div class="alert success">@TempData["Success"]</div>
}


<div class="Background-Home">
    <div class="Home-Options">
        <a asp-controller="GameMvc" asp-action="Start" class="Primary-Button">Play</a>
        <form asp-controller="Auth" asp-action="Delete" method="post">
            <button type="submit" class="Error-Button" onclick="return confirm('Are you sure you want to delete your account?')">Delete account</button>
        </form>
        <a asp-controller="Auth" asp-action="Login" class="Secondary-Button">Log out</a>
    </div>
</div>

</body>

</html>
    