html, body {
    font-size: 14px;
    height: 100%;

}

body {
    margin:0;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}


.Background-Home {
    background-image: url(/images/backgrounds/HomePageImage.png);
    height: 100vh;
    width: 100vw;
    background-Size: cover;
    display: flex;
    background-Repeat: no-repeat;
    background-Position: center;
    justify-Content: center;
    align-Items: center;


}

.Home-Options {
    background-Color: #1a2130;
    padding: 20px;
    border-Radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Primary-Button {
    background-color: #89d4e4;
    padding: 10px;
    margin: 3px;
    border-Radius: 5px;
    color: #f3f5ff;

}

.Secondary-Button {
    background-color: #89d4e4;
    padding: 10px;
    margin: 3px;
    border-Radius: 5px;
    color: white;
}