html, body {
    font-size: 14px;
    height: 100%;

}

body {
    margin:0;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.input-login {
    background-color: #0f111d;
    padding: 10px;
    margin: 3px;
    border-Radius: 5px;
    color: white;

}

.Primary-Button {
    padding: 10px;
    border-Radius: 5px;
    background-color : #ff8055;
    width: 75px;
}




.login-box {
    background-Color: #1a1d2e;
    padding: 20px;
    border-Radius: 10px;
    text-align: center;


}

.Background-login {
    background-Image: url('/images/backgrounds/LogInImage.png');
    height: 100vh;
    width: 100%;
    background-Size: cover; 
    display: flex;
    background-Repeat: no-repeat;
    background-Position: center;
    justify-Content: center;
    align-Items: center;

}

    .Secondary-Button {
        background-color: #1e2a3a;
        padding: 10px;
        margin: 3px;
        margin-bottom: 7px;
        border-Radius: 5px;
        color: #f3f5ff;
    
    }

.Error-Button {
    background-color: red;
    padding: 10px;
    margin: 3px;
    border-Radius: 5px;
    color: white;
}


.Error-text {
    color: red;
}

